*,
:after,
:before {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.15;
  scroll-behavior: auto;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-rendering: optimizelegibility
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body {
  background: #141617;
  font-size: 1rem;
  font-weight: 400;
  height: 90vh;
  line-height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  text-rendering: optimizespeed;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  row-gap: 12px;
}

#app {
  background: #141617;
  height: 100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content:center;
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 20px 0;
  }
}
