.dark {
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --black0: #111314;
  --black1: #141617;
  --black2: #1f2223;
  --black3: #232627;
  --black4: #303436;
  --white1: #fff;
  --white2: #edede7;
  --white3: #ccc;
  --bs-md: 0 1px 3px 0 rgba(48, 52, 54, .3), 0 4px 8px 0 rgba(48, 52, 54, .05);
  --bs-sm: 0 1px 3px 0 rgba(48, 52, 54, .15), 0 4px 5px 0 rgba(48, 52, 54, .15);
  --blue1: #3198f7;
  --prevnext-background: #0f1112;
  --prevnext-background-hover: #1f2223;
  --selected-day-color: #3198f7;
  --selected-day-bg: #2c2f30;
  --selected-day-bg-hover: #232627;
  --tooltip-color: #fff
}

.light {
  --accents-6: #666;
  --accents-5: #777;
  --accents-4: #999;
  --black0: #fff;
  --black1: #f1f1f0;
  --black2: #e0dddc;
  --black3: #dcd9d8;
  --black4: #3c4043;
  --white1: #000;
  --white2: #666;
  --white3: #444;
  --bs-md: 0 1px 3px 0 rgba(48, 52, 54, .3), 0 4px 8px 3px rgba(48, 52, 54, .15);
  --bs-sm: 0 1px 3px 0 rgba(48, 52, 54, .3), 0 4px 8px 3px rgba(48, 52, 54, .15);
  --blue1: #fff;
  --prevnext-background: #d8d7d7;
  --prevnext-background-hover: #e8e5e5;
  --selected-day-color: #fff;
  --selected-day-bg: #0070f3;
  --selected-day-bg-hover: #0253b0;
  --tooltip-color: #fff
}

.month-picker *,
.month-picker *:before,
.month-picker *:after,
.month-picker-input-wrapper *,
.month-picker-input-wrapper *:before,
.month-picker-input-wrapper *:after {
  /* font-family: inherit, sans-serif, system-ui, monospace; */
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  line-height: 1.5;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  background: none;
  outline: none !important;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.month-picker *:after,
.month-picker *:before,
.month-picker svg,
.month-picker-input-wrapper *:before,
.month-picker-input-wrapper *:after,
.month-picker-input-wrapper svg {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.month-picker-input-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 210px;
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white1)
}

.picker-input-active {
  color: var(--white1)
}

.picker-input-active .month-picker-input {
  border: 1px solid var(--selected-day-bg) !important;
  background: var(--black2)
}

.month-picker-input-wrapper span {
  height: 100% !important;
  width: 18%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none
}

.month-picker-input {
  background: var(--black1);
  color: inherit;
  letter-spacing: .25px;
  border: 1px solid var(--black3) !important;
  font-size: 13px;
  border-radius: 5px;
  margin: 0 !important;
  width: 100%;
  padding: 0 0 0 18%;
  height: 36px !important;
  line-height: 36px !important;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  transition: border .2s ease-in-out
}

.month-picker-input:hover {
  background: var(--black0)
}

.month-picker-input:active,
.month-picker-input:focus-visible {
  outline: 1px solid var(--selected-day-bg) !important;
  outline-offset: -1px !important;
  filter: brightness(1.1)
}

.month-picker-input::placeholder {
  color: inherit
}

.picker-input-disabled {
  cursor: not-allowed;
  opacity: .6;
  pointer-events: none;
  user-select: none;
}

.picker-input-disabled .month-picker-input {
  pointer-events: none;
  user-select: none;
}

.month-picker {
  background: var(--black1);
  border-radius: 8px;
  box-shadow: var(--bs-md);
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 500;
  height: 256px;
  inset: 0;
  position: absolute;
  min-height: 256px;
  padding: 8px 10px 14px;
  width: 272px;
  z-index: 9999;
  overflow: hidden;
  opacity: 1
}

.picker-fade-out {
  opacity: 0;
  transition: opacity .15s ease-in-out;
  user-select: none !important;
  pointer-events: none !important
}

.picker-disabled {
  user-select: none !important;
  pointer-events: none !important;
  opacity: 0 !important;
  z-index: -1 !important;
  left: 0 !important;
  top: 0 !important;
  width: 0 !important;
  height: 0 !important;
  min-height: 0 !important;
  visibility: hidden;
}

.picker-transition {
  transition-property: opacity;
  transition-duration: .15s;
  transition-timing-function: ease-in-out
}

.month-picker button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  padding: 0;

  position: relative
}

.month-picker button:focus-visible {
  box-shadow: none;
  outline: none !important;
}

.month-picker svg {
  fill: var(--white1);
  height: 24px;
  width: 24px
}

.month-picker-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  height: 32px
}

.month-year {
  color: var(--white3);
  cursor: default;
  font-size: 13px;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: .25px;
  padding-left: 13px;
  width: auto
}

.nav-btns {
  height: 100%;
  justify-content: flex-end;
  position: relative;
  text-align: center;
  width: 40%;
  z-index: 1000
}

.nav-btns,
.next,
.prev {
  align-items: center;
  display: flex;
  padding: 0
}

.next,
.prev {
  border: none;
  border-radius: 50%;
  height: 28px;
  justify-content: center;
  margin-right: 3px;
  width: 28px
}

.next svg,
.prev svg {
  fill: var(--white2);
  width: 18px
}

.prev:after,
.next:after,
.weekday:after {
  content: attr(data-navtitle);
  border-radius: 2px;
  bottom: 0;
  color: var(--tooltip-color);
  font-size: 11px;
  background: var(--black4);
  white-space: nowrap;
  height: 24px;
  line-height: 24px !important;
  font-weight: 500;
  opacity: 0;
  padding: 0 8px;
  position: absolute;
  transform: translateY(125%);
  transition: opacity .2s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2000
}

.next:after {
  transform: translate(-20%, 125%)
}

.weekday:after {
  content: attr(data-weekday)
}

.prev:hover:after,
.next:hover:after,
.prev:focus-visible:after,
.next:focus-visible:after,
.weekday:hover:after {
  opacity: 1
}

.next:hover,
.prev:hover {
  background: var(--black3)
}

.next:active,
.next:focus-visible,
.prev:active,
.prev:focus-visible {
  background: var(--black2) !important;
  box-shadow: inset 3px 3px 2px -1px #0000000d
}

.next {
  margin-left: 5px
}

.weekdays {
  color: var(--white3);
  height: 28px;
  justify-content: space-between
}

.weekday,
.weekdays {
  align-items: center;
  display: flex;
  width: 100%
}

.weekday {
  cursor: default;
  font-weight: 500;
  height: 20px;
  justify-content: center;
  position: relative
}

.month-div {
  grid-gap: 0;
  display: grid;
  font-weight: 400;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: calc(100% - 40px);
  overflow: hidden;
  z-index: 1
}

.day,
.month-div {
  position: relative;
  width: 100%
}

.day {
  align-items: center;
  background: var(--black1);
  color: var(--white1);
  cursor: pointer;
  display: flex;
  font-size: 10px;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 1
}

.day-disabled {
  color: transparent !important;
  cursor: default !important;
  pointer-events: none !important;
  user-select: none !important
}

.selected-day {
  color: var(--selected-day-color)
}

.next-month,
.prev-month {
  background: var(--prevnext-background) !important;
  color: var(--accents-5) !important
}

.day:before {
  background: var(--black1);
  border-radius: 50%;
  content: attr(data-day);
  height: 28px;
  inset: 0;
  line-height: 28px !important;
  margin: auto;
  position: absolute;
  width: 28px;
  z-index: -1
}

.next-month:before,
.prev-month:before {
  background: var(--prevnext-background) !important
}

.selected-day:before {
  background: var(--selected-day-bg)
}

.day:focus-visible:before,
.day:hover:before {
  background: var(--black2);
  transition: background .15s ease-out
}

.next-month:focus-visible:before,
.prev-month:focus-visible:before,
.next-month:hover:before,
.prev-month:hover:before {
  background: var(--prevnext-background-hover) !important;
  transition: background .15s ease-out
}

.selected-day:focus-visible:before,
.selected-day:hover:before {
  background: var(--selected-day-bg-hover) !important
}

.slide-right {
  animation-name: slide-right;
  animation-duration: .15s;
  animation-fill-mode: forwards;
  overflow: hidden !important;
  animation-timing-function: cubic-bezier(.39, .575, .565, 1)
}

.slide-left {
  animation-name: slide-left;
  animation-duration: .15s;
  animation-fill-mode: forwards;
  overflow: hidden !important;
  animation-timing-function: cubic-bezier(.39, .575, .565, 1)
}

@keyframes slide-right {
  0% {
    opacity: .2;
    transform: translate(-16px)
  }

  50% {
    opacity: .6
  }

  to {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes slide-left {
  0% {
    opacity: .2;
    transform: translate(16px)
  }

  50% {
    opacity: .6
  }

  to {
    opacity: 1;
    transform: translate(0)
  }
}